html {
	font-size: 100%;
}

*,
::after::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Do Hyeon', sans-serif;
	letter-spacing: 2px;
	margin: 80px 50px 50px 50px;
	background-image: url("textured-grey.jpg");
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

ul {
	padding: 0;
	list-style-type: none;
	width: 100%;
}

.whole-board h1 {
	color: hsl(27, 100%, 50%);
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	font-size: 50px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 50px;
	text-transform: uppercase;
	font-style: italic;
}

.whole-board {
	display: flex;
	flex-direction: column;
	width: 55vw;
}

.square {
	background: hsla(200, 5%, 60%, 0.7);
	border: 5px solid black;
	box-shadow: 0px 0px 20px 2px hsla(61, 100%, 53%, 0.5);
	border-radius: 10px;
	font-family: 'Caveat', cursive;
	font-size: 50px;
	font-weight: bold;
	height: 100px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 100px;
	height: 100px;
}

.square:focus {
	outline: none;
}

.game {
	display: flex;
	flex-direction: row;
}

.all-rows {
	display: flex;
	flex-direction: column;
}

.board-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.game-info {
	font-family: 'Do Hyeon', sans-serif;
	width: 35vw;
	padding: 0;
	margin: 90px 0 0 0;
}

.status {
	font-weight: bold;
	font-size: 30px;
	color: hsl(83, 100%, 50%);
	margin-left: 22px;
}

.game-info button {
	font-family: 'Do Hyeon', sans-serif;
	font-size: 15px;
	box-shadow: 8px 5px 10px 0px rgba(0, 0, 0, 0.75);
	border-color: rgba(0, 0, 0, 0.75);
	margin-bottom: 10px;
	padding: 5px 30px;
	background-color: hsl(219, 0%, 85%);
	border-radius: 20px;
}

.each-btn {
	width: 100%;
	width: 90%;
	margin: auto;
}

@media only screen and (max-width: 550px) {
	body {
		margin: 40px 10px 10px 10px;
	}

	.whole-board h1 {
		font-size: 30px;
		margin-bottom: 30px;
	}

	.status {
		font-size: 20px;
	}

	.game {
		flex-direction: column;
		justify-content: flex-start;
		width: 80vw;
	}

	.game-info {
		margin-top: 30px;
		width: 100%;
	}

	.status {
		text-align: center;
		margin: 0;
	}

	.each-btn {
		margin: auto;
		text-align: center;
	}

	.board-row {
		justify-content: center;
	}

	.whole-board {
		width: 100%;
	}

	.square {
		width: 85px;
		height: 85px;
	}
}
